*{
	height: 100%;
	width: 100%;
	margin: 0;
	box-sizing: border-box;
}

 main{
	background-color: darkblue;
}



.fitaled1{
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to right, red, orange, blue);
	background-size: 500% 100%;
	animation-name: degrade;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.fitaled2{
	width: 100%;
	height: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to right, red, orange, blue);
	background-size: 500% 100%;
	animation-name: degrade;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}



@keyframes degrade{
		0%{
			background-position-x: 0%;
		}
		100%{
			background-position: 100%;
		}
	}



.Fundo1{
	background-image: url(../Contatto/Imagens/Fundo2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	display: flex;
}


		.Fundo1 .pia{
			background-image: url(../Contatto/Imagens/pia.png);	
			background-position: center;
			background-repeat: no-repeat;
			width: 500px;
			height: 495px;
			margin: 60px;
			margin-left: 140px;
			border-radius: 20px;

		}

		.Fundo1 .torneira{
		background-image: url(../Contatto/Imagens/torneira2.jpg);
		background-position: center;	
		width: 243px;
		height: 241px;
		border-radius: 20px;
		margin-left: 520px;
	}

		.Fundo1 .churras{
		background-image: url(../Contatto/Imagens/churras.jpg);	
		background-position: center;
		width: 243px;
		height: 241px;
		border-radius: 20px;
		margin-left: 265px;
	}

		.Fundo1 .fechadura{
		background-image: url(../Contatto/Imagens/fechadura.jpg);
		background-position: center;
		width: 508px;
		height: 241px;	
		border-radius: 20px;
		margin-top: 13px;
		margin-left: 520px;
	}






.Bianco{
	background-image: url(../Contatto/Imagens/Bianco.jpg);	
	width: 500px;
	height: 495px;
	border-radius: 25px;
	margin: 40px;
	margin-left: 10%;
}

	.Sika{
	background-image: url(../Contatto/Imagens/Sika.jpg);	
	width: 500px;
	height: 495px;
	border-radius: 25px;
	margin-left: 110%;
}


 .Fundo-branco{
 	margin-top: 100px;
 }

 .circulo1{
 	display: flex;
 	margin-left: 2%;
 }


.Fundo2{
	background-image: url(../Contatto/Imagens/Fundo2.jpg);
	background-size: cover;
	width: 100%;
	height: 300px;

	display: flex;
}

	.Formulario form{
		width: 80%;
		height: 50px;
		align-items: center;
		border-radius: 100px;
		box-shadow: 0 10px 20px black;
		display: flex;
		gap: 10px;
		margin: 10%;
		margin-top: 8%;
	}


	.End1{
		background-image: url(../Contatto/Imagens/Fundo2.jpg);
		width: 100%;
		height: 350px;
		display: flex;
	}
		.Pagamentos{
			width: 241px;
			height: 94px;
			margin: 2%;
			margin-left: 6%;
		}

